* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
   --theme-dark: #3A4454;
   --theme-medium: #53687E;
   --theme-light: #5a83af;
   
   --text-light: #F5DDDD;
   --text-medium: #53687E;
   --text-dark: #3A4454;
   --box-shadow: 3px 3px 7px #3A4454;
}